.mainChat__box
  .mainChat__boxUpper
    .mainChat__boxName
      = chat.user.name
    .mainChat__boxTime
      = chat.created_at.strftime('%Y/%m/%d %H:%M:%S')
  .mainChat__boxMessage{data: {chatid: "#{chat.id}"}}
    - if chat.image.blank?
      = chat.text
    - else
      = image_tag chat.image_url(:thumb)
