.wrap
  = render partial:"groups/side", local: @groups
  .main
    .mainHeader
      .mainHeader__title
        = @group.name
      .mainHeader__member
        %ul
          %label Member：
          - @group.users.each do |member|
            %li
              = member.name
      .mainHeader__edit
        = link_to edit_group_path(@group) do
          Edit
    .mainChat
      = render partial: "chat", collection: @messages
    .mainForm
      = form_for([@group, @message], :html => {class: "mainForm__wrap"}) do |f|
        = f.text_field :text, placeholder: 'type a message', value: "", id: "mainForm__input", class: "mainForm__input"
        .mainForm__image
          %label.mainForm__imageUpload
            %i.fa.fa-picture-o
            = f.file_field :image, id: "imageUpload", class: "hidden"
        .cancelBtn
          %i.fa.fa-times
        = button_tag type: "submit", class: "mainForm__btn" do
          Send
