= form_for(@group) do |f|
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        = @group.errors.count
        件のエラーが発生しました。
        %ul
          - @group.errors.full_messages.each do |msg|
            %li
              = msg
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_name"} グループ名
    .chat-group-form__field--right
      = f.text_field :name, placeholder: 'グループ名を入力してください', class: "chat-group-form__input"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_add_chat-member"}チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input{type: "text", placeholder: "追加したいユーザ名を入力してください", class: "chat-group-form__input", id: "user-search-field"}
      .user-search-result
        #chat-group-users

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_chat-member"} チャットメンバー
    .chat-group-form__field--right

  -# collection_checkboxesでの実装はコメントアウトすることとする
  -#     .check_box
  -#       = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b|
  -#         = b.label { b.check_box + b.text }

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit :commit, value: "Save", class: "chat-group-form__action-btn", disable_width: "Save"
